@tailwind base;
@tailwind components;
@tailwind utilities;

.react-drag * {
  user-select: none;
}

.react-grid-placeholder {
  border: #155e8c dashed 2px;
  background-color: #ffb198;
  opacity: 0.1;
  transition: all 0.3s ease;
  border-radius: 50%;
}
